.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  
  .container input,
  .container textarea,
  .container select {
    padding: 20px;
    background-color: #f4f4f5;
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }
  
  .container button {
    padding: 20px;
    cursor: pointer;
    background: linear-gradient(90deg, var(--labcolor) 0%, rgba(0, 212, 255, 1) 100%);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }