.caixa{
    display: flex;
    flex-direction: row;
}
.row{
    padding: 10px;
}
.column ul{
    list-style-type: none;
    cursor: pointer;
}
.column li:hover{
    background: linear-gradient(90deg, var(--labcolor) 0%, rgba(0,212,255,1) 100%);
    color: white;
}
.column li{
    padding: 3px;
    font-size: 20px;
}
.column:first-child{
    width: 150px;
    padding: 15px;
    overflow-y:auto;
    max-height: 400px;
}
.column{
    width: 150px;
    padding: 0px;
    overflow-y: auto;
    max-height: 400px;
}
.column::-webkit-scrollbar{
    width: 10px;
}
.column::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 0px;
  }
.column::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, var(--labcolor) 0%, rgba(0,212,255,1) 100%);
    border-radius: 0px;
}
.selected{
    background: linear-gradient(90deg, grey 0%, white 110%);
    color: white;
    font-weight: bold;
}