.ponto{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 1px 1px 0.2rem white;
    padding-top: 6px;
}
.ponto:hover{
    cursor: pointer;
    background-color: antiquewhite;
    font-weight: bolder;
    padding: 6px;
    transform: scale(1.1);
}