.post {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .groupButton{
    display: flex;
    flex-direction: row;
  }
  .actionButtons{
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
  }
  .postButton{
    padding: 5px 10px;
    background-color: rgba(98, 98, 98, 0.872);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 2px;
  }
  .approved{
    padding: 5px 10px;
    background-color: rgba(31, 103, 6, 0.872);
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 2px;
  }
  .reproved{
    padding: 5px 10px;
    background-color: rgba(233, 24, 24, 0.872);
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 2px;
  }
  .approveButton{
    padding: 5px 10px;
    background-color: rgba(50, 165, 12, 0.872);
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 2px;
    cursor: pointer;
    transition: 0.2s;
  }
  .approveButton:hover{
    background-color: gray;
  }
  .reproveButton{
    padding: 5px 10px;
    background-color: rgba(233, 24, 24, 0.872);
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 2px;
    transition: 0.2s;
    cursor: pointer;
  }
  .reproveButton:hover{
    background-color: gray;
  }
  .postButton:hover{
    background-color: rgba(0, 13, 252, 0.872);
  }